body {
  font-family: Arial;
}

h1, h2 {
  text-align: center;
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: auto;
  justify-content: space-between;
  align-self: flex-start;
}

.col {
  width: 50%;
  padding: 20px;
}

img {
  width: 100%;
}
